@model PharmacyBA.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechReg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodProveedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
